mixin card(plan)
  - var cardClass = "card"
  - var cardLinkClass = "card__link"
  - var cardPriceClass ="card__price"
  if plan.name === "Professional"
    - cardClass = "card card--primary"
    - cardLinkClass = "card__link card__link--light"
    - cardPriceClass= "card__price card__price--light"
  section(class= `${cardClass}`)
    h2.card__title= plan.name 
    p(class=`${cardPriceClass}`)
      span.card__price-symbol $ 
      = plan.price
    ul.card-options 
      li.card-options__item= `${plan.storageSpace} Storage`
      li.card-options__item= `${plan.usersAllowed} Users Allowed`
      li.card-options__item= `Send up to ${plan.transferData } GB`
    a(class=`${cardLinkClass}` href="#" aria-label=`Learn more about our ${plan.name} plan`) Learn More